{% extends "CDPlatformBundle::layout.html.twig" %}

{% block title %}
  Inscription - {{ parent() }}
{% endblock %}

{% block body %}
	<h1 class="my-4">Mon compte
		<small>S'inscrire</small>
	</h1>

	{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

		{{ form_errors(form) }}

		<div class="form-group">
			{{ form_label(form.username, "Nom d'utilisateur", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

			{{ form_errors(form.username) }}

			<div class="col-sm-12">
			  {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>

		<div class="form-group">
			{{ form_label(form.password, "Mot de passe", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

			{{ form_errors(form.password) }}

			<div class="col-sm-12">
			  {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>

		<div class="form-group">
			{{ form_label(form.email, "Adresse email", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

			{{ form_errors(form.email) }}

			<div class="col-sm-12">
			  {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>

        <div class="form-group">
			{{ form_label(form.langs, "Languages", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

			{{ form_errors(form.langs) }}

			<div class="col-sm-12">
			  {{ form_widget(form.langs, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>

		<div class="form-group">
			{{ form_label(form.description, "Description", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

			{{ form_errors(form.description) }}

			<div class="col-sm-12">
			  {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-12">
			{{ form_widget(form.save, {'attr': {'class': 'btn btn-success float-r'}}) }}
			</div>
		</div>

		{{ form_rest(form) }}

	{{ form_end(form) }}

{% endblock %}
