{% extends "CDPlatformBundle::layout.html.twig" %}

{% block title %}
	Projets - {{ parent() }}
{% endblock %}

{% block cdplatform_body %}
	<h1 class="my-4">Projets
		<small>Liste des projets</small>
	</h1>

	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Nom</th>
					<th scope="col">Date de création</th>
					<th scope="col">Nom d'utilisateur</th>
					<th scope="col">Code de langue</th>
                    <th scope="col">Bloqué ?</th>
                    <th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for project in projects %}
					<tr>
						<th scope="row">
                        <a href="{{ path('project_show', {'id': project.id}) }}" class="btn btn-primary" role="button">{{ project.id }}</a>
                        </th>
						<td>{{ project.name }}</td>
						<td>{{ project.date|date('d/m/Y') }}</td>
						<td>{{ project.user.username }}</td>
						<td>{{ project.lang.code }}</td>
                        <td>
                            {% if project.getFrozen() %}
                                Oui
                            {% else %}
                                Non
                            {% endif %}
                        </td>
                        <td>
                            {% if (app.user == project.getUser()) %}
                                <a href="{{ path('project_addsource', {'id': project.id}) }}" class="btn btn-primary" role="button">Ajouter des sources</a><br>
                                <a href="{{ path('project_froze', {'id': project.id}) }}" class="btn btn-warning" role="button">Bloquer/Debloquer</a><br>
                                <a href="{{ path('project_delete', {'id': project.id}) }}" class="btn btn-danger" role="button">Supprimer</a>
                            {% endif %}
                        </td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		</div><br />

	<a href="/project/add" class="btn btn-success float-right">Créer un projet</a>
{% endblock %}
