{% extends "CDPlatformBundle::layout.html.twig" %}

{% block title %}
	Projets - {{ parent() }}
{% endblock %}

{% block cdplatform_body %}
	<h1 class="my-4">Projets
		<small>Liste des projets</small>
	</h1>

	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Nom du projet</th>
					<th scope="col">Nom d'utilisateur</th>
					<th scope="col">Date de création</th>
					<th scope="col">Code de langue</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for project in projects %}
					<tr>
						<td><a href="{{ path('project_show', {'id': project.id}) }}">{{ project.name }}</a></td>
						<td><a href="{{ path('user_view', {'username': project.user.username}) }}">{{ project.user.username }}</a></td>
						<td>{{ project.date|date('d/m/Y') }}</td>
						<td>{{ project.lang.code }}</td>
                        <td>
                            {% if project.getFrozen() %}
                                <span class="badge badge-danger">Indisponible</span>
                            {% else %}
                                <span class="badge badge-success">Disponible</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if (app.user == project.getUser()) %}
                                <a data-toggle="tooltip" data-placement="top" title="Ajouter une source" href="{{ path('project_addsource', {'id': project.id}) }}" class="btn btn-primary" role="button">
                                	<i class="fas fa-plus-circle"></i>
                                </a>
	                            {% if project.getFrozen() %}
	                                <a data-toggle="tooltip" data-placement="top" title="Débloquer" href="{{ path('project_froze', {'id': project.id}) }}" class="btn btn-warning" role="button">
	                                	<i class="fas fa-unlock"></i>
	                                </a>
	                            {% else %}
	                                <a data-toggle="tooltip" data-placement="top" title="Bloquer" href="{{ path('project_froze', {'id': project.id}) }}" class="btn btn-warning" role="button">
	                               		<i class="fas fa-lock"></i>
	                               	</a>
	                            {% endif %}
                                <a data-toggle="tooltip" data-placement="top" title="Supprimer" href="{{ path('project_delete', {'id': project.id}) }}" class="btn btn-danger" role="button">
                                	<i class="fas fa-trash-alt"></i>
                                </a>
                            {% endif %}
                        </td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		</div><br />

	<a href="/project/add" class="btn btn-success float-right">Créer un projet</a>
{% endblock %}
