{% extends "CDPlatformBundle::layout.html.twig" %}

{% block title %}
	Traduction - {{ parent() }}
{% endblock %}

{% block cdplatform_body %}
	<h1 class="my-4">Traduction
		<small>Projets non traduits</small>
	</h1>

	{% if (projects|length) %}
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Nom</th>
						<th scope="col">Date de création</th>
						<th scope="col">Créateur</th>
						<th scope="col">Code de langue</th>
					</tr>
				</thead>
				<tbody>
					{% for project in projects %}
						<tr>
							<td>
                                <a href="{{ path('project_show', {'id': project.id}) }}">{{ project.name }}</a>
                            </td>
							<td>{{ project.date|date('d/m/Y') }}</td>
							<td>
                                <a href="{{ path('user_view', {'username': project.user.username}) }}">{{ project.user.username }}</a>
                            </td>
							<td><span data-toggle="tooltip" data-placement="top" title="{{project.lang.code}}" class="badge badge-light"><img width="32" height="32" src="https://www.countryflags.io/{{project.lang.code[3:4]|lower}}/shiny/64.png" /></span></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<div class="text-center">{{ knp_pagination_render(projects) }}</div>
	{% else %}
		<div class="alert alert-warning">Aucun projet non traduits n'a été trouvé.</div>
    {% endif %}

    {% if (random_source) %}
        <div class="card mb-4 ">
          <div class="card-header">
            Traduction aléatoire
        </div>
          <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nom du projet</th>
                            <th scope="col">Nom de la source</th>
                            <th scope="col">Valeur de la traduction</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">{{ random_source.getProject().getName() }}</td>
                            <td>{{ random_source.getSource() }}</td>
                            <td>{{ random_source.getTargets()[0].getTarget() }}</td>
                            <td>
                                <a data-toggle="tooltip" data-placement="top" title="Traduire la source" href="{{ path('project_source', {'idproj': random_source.getProject().id, 'ids': random_source.id}) }}" class="btn btn-primary" role="button"><i class="fas fa-language"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>
          </div>
        </div>
    {% endif %}
{% endblock %}
