{% extends "CDPlatformBundle::layout.html.twig" %}

{% block title %}
	Projet - {{ parent() }}
{% endblock %}

{% block cdplatform_body %}
        <div class="row">
          <div class="col-md-8">
        	<h1 class="my-4">Projet
        		<small>{{ project.getName() }}</small>

            <a href="{{ path('projects_list') }}" style="float: right; margin-top: 10px;" role="button" class="btn btn-secondary"><i class="fas fa-long-arrow-alt-left"></i> Retour</a>
        	</h1>
              <div class="card mb-4">
                <div class="card-body">
                  <span data-toggle="tooltip" data-placement="top" title="{{ project.getLang().code}}" class="badge badge-dark" style="float: right;"><img width="36" height="36" src="https://www.countryflags.io/{{project.lang.code[3:4]|lower}}/shiny/64.png" /></span>
                  <h2 class="card-title">Liste des source</h2>
                    {% if (sources|length) %}
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Nom de la source</th>
                                        <th scope="col">Nombre de traduction</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for source in sources %}
                                        <tr>
                                            <th scope="row">{{ source.source }}</th>
                                            <td>{{ source.getTargets() | length }}</td>
                                            <td>
                                                <a href="{{ path('project_source', {'idproj': project.id, 'ids': source.id}) }}" class="btn btn-info" role="button" data-toggle="tooltip" data-placement="top" title="Voir les traductions"><i class="fas fa-eye"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div><br />

                     <div class="text-center">{{ knp_pagination_render(sources) }}</div>
                    {% else %}
                    <div class="alert alert-info">Aucune source n'a été ajouté.</div>
                    {% endif %}
                </div>
              </div>
          </div>

            <div class="col-md-4">
              <div class="card my-4">
                <h5 class="card-header">Informations</h5>
                <div class="card-body">
                    <button data-toggle="tooltip" data-placement="top" title="Date de création" type="button" class="btn btn-primary">
                      <span class="badge badge-light">{{ project.date | date('d/m/Y') }}</span>
                    </button>
                    <button data-toggle="tooltip" data-placement="top" title="Nombre de source" type="button" class="btn btn-secondary">
                      <span class="badge badge-light">{{ allsources | length }}</span>
                    </button>
                    {% if project.getFrozen() %}
                        <button data-toggle="tooltip" data-placement="top" title="Projet fermé" type="button" class="btn btn-danger">
                          <span class="badge badge-light">Indisponible</span>
                        </button>
                    {% else %}
                        <button data-toggle="tooltip" data-placement="top" title="Projet ouvert" type="button" class="btn btn-success">
                          <span class="badge badge-light">Disponible</span>
                        </button>
                    {% endif %}
                </div>
              </div>

              {% if (allsources|length) > 0 %}
              <div class="card my-4">
                <h5 class="card-header">Sources</h5>
                <div class="card-body">
                    <canvas id="sourcesChart" width="200" height="200"></canvas>
                </div>
              </div>
              {% endif %}
            </div>
            <script>
                $( document ).ready(function() {
                    var ctx = $("#sourcesChart");

                    var myPieChart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                        labels: [
                            {% for source in allsources %}
                                  '{{ source.getSource }}'{% if not loop.last %},{% endif %}
                            {% endfor %}
                              ],
                          datasets: [{
                            data: [
                                {% for source in allsources %}
                                    {{source.getTargets() | length }}{% if not loop.last %},{% endif %}
                                {% endfor %}
                            ]
                          }]
                        },
                        options: {
                        	plugins: {
                                colorschemes: {
                                    scheme: 'brewer.Paired12'
                                }
                            }
                        }
                    });
                });
            </script>
        </div>
{% endblock %}
