{% extends "CDPlatformBundle::layout.html.twig" %}

{% block title %}
	Projet - {{ parent() }}
{% endblock %}

{% block cdplatform_body %}

	<h1 class="my-4">Projet
		<small>{{ project.getName() }}</small>
	</h1>

    <h2>Source "{{ source.source }}"</h2>

    <h3>Liste des traductions</h3>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Langue de la traduction</th>
                    <th scope="col">Traduction</th>
                    <th scope="col">Auteur</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for traduction in source.getTargets() %}
                    <tr>
                        <td scope="row">{{ traduction.getLang().code }}</td>
                        <td scope="row">{{ traduction.getTarget() }}</td>
                        <td scope="row">{{ traduction.getAuthor().getUsername() }}</td>
                        <td>
                            {% if app.user == project.getUser() and app.user == traduction.getAuthor() %}
                                <a href="{{ path('modify_target', {'idproj': project.id, 'ids': source.id, 'idt': traduction.id }) }}" class="btn btn-primary" role="button">
                                    Modifier la traduction
                                </a>
                            {% elseif not project.getFrozen() and app.user == traduction.getAuthor() and app.user.getLangs()|length >= 2 %}
                                <a href="{{ path('modify_target', {'idproj': project.id, 'ids': source.id, 'idt': traduction.id }) }}" class="btn btn-primary" role="button">
                                    Modifier la traduction
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div><br />

    {% if is_modify %}
        <div class="modal fade" id="modifyTargetModal" tabindex="-1" role="dialog" aria-labelledby="modifyTargetModalLabel">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modifyTargetModalLabel">Modifier une traduction</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                      {{ form_errors(form) }}

                      <div class="form-group">
                          {{ form_label(form.target, "Votre traduction", {'label_attr': {'class': 'col-sm-12 control-label'}}) }}

                          {{ form_errors(form.target) }}

                          <div class="col-sm-12">
                            {{ form_widget(form.target, {'attr': {'class': 'form-control'}}) }}
                          </div>
                      </div>

                      <div class="form-group">
                          <div class="col-sm-12">
                          {{ form_widget(form.save, {'attr': {'class': 'btn btn-success float-right'}}) }}
                          </div>
                      </div>

                      {{ form_rest(form) }}

                  {{ form_end(form) }}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <script type="text/javascript">
            $(window).on('load',function(){
                $('#modifyTargetModal').modal('show');
            });
        </script>
    {% endif %}

    {% if not project.getFrozen() and app.user.getLangs()|length >= 2 and not is_modify %}
        <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#addTargetModal">
            Ajouter une traduction
        </button>

        <div class="modal fade" id="addTargetModal" tabindex="-1" role="dialog" aria-labelledby="addTargetModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="addTargetModalLabel">Ajouter une traduction</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                      {{ form_errors(form) }}

                      <div class="form-group">
                          {{ form_label(form.lang, "Langue de la traduction", {'label_attr': {'class': 'col-sm-12 control-label'}}) }}

                          {{ form_errors(form.lang) }}

                          <div class="col-sm-12">
                            {{ form_widget(form.lang, {'attr': {'class': 'form-control'}}) }}
                          </div>
                      </div>

                      <div class="form-group">
                          {{ form_label(form.target, "Votre traduction", {'label_attr': {'class': 'col-sm-12 control-label'}}) }}

                          {{ form_errors(form.target) }}

                          <div class="col-sm-12">
                            {{ form_widget(form.target, {'attr': {'class': 'form-control'}}) }}
                          </div>
                      </div>

                      <div class="form-group">
                          <div class="col-sm-12">
                          {{ form_widget(form.save, {'attr': {'class': 'btn btn-success float-right'}}) }}
                          </div>
                      </div>

                      {{ form_rest(form) }}

                  {{ form_end(form) }}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    {% endif %}

{% endblock %}
